.CFUserTextEncoding
.asdf
.aws
.bash_history
.bash_profile
.bash_sessions
.bashrc
.bun
.bundle
.cache
.cargo
.config/configstore
.config/fish/tools
.config/gh
.config/gtk-2.0
.config/yarn
.cups
.docker
.gem
.gitconfig
.gitflow_export
.gitignore_global
.gk
.gnupg
.hgignore_global
.lesshst
.local
.mkshrc
.mysql_history
.node-gyp
.npm
.npmrc
.percona-toolkit.uuid
.profile
.python_history
.redhat
.rustup
.rvm
.solargraph
.ssh
.stCommitMsg
.tool-versions
.viminfo
.vscode/extensions
.yarn
.yarnrc
.zlogin
.zsh_history
.zshenv
.zshrc
Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Postman
Public
Sites
go
